html { font-family: 'Avenir'; background: #ffffff; color: black; padding: 3px; height: 100%;}
/* body {height: 100%; overflow: hidden;} */
h1 {margin: auto; margin-left: 0; color: #3C3C3B;}
h2 {font-size: 1.5rem; margin: auto; margin-left: 0; color: #5A5A50;}
h3 {font-size: 1rem; margin: auto; margin-left: 0; color: #5A5A50;}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  background: radial-gradient(circle at var(--x, 0%) var(--y, 0%), white, black 500%);
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-items: space-between;
}
.title {
  flex: 1;
}
.ip {
  margin-top: 0;
  margin-right: 30px;
}

.config-div {
  max-width: 95%;
  max-height: 95%;
  width: 45vw;  /* Initial width */
  height: 45vw;  /* Initial height */
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  /* border-radius: 5px; */
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
}   

.config-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
  scrollbar-width: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.config-list::-webkit-scrollbar { /* For Chrome, Safari and Opera */
    display: none;
}

.config-button {
  width: 95%;
  height: 20px;
  /* margin-top: 3px; */
  padding: 10px;
  border: 2px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.config-name {
  flex: .2;
}
.config-action {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.config-clear {
  width: 3vh;
  height: 3vh;
  border: none;
  border-radius: 2px;
  font-weight: lighter;
  font-size: medium;
  background: none;
  color: rgba(0,0,0,.5);
}
.config-clear:hover {
  /* background: rgba(255, 10, 50, .2); */
  font-weight: bold;
  color: rgb(180,0,0);
}

.config-button:hover {
  border-left: 2px solid rgb(200,10,50);
  background: rgba(255,255,255);
  margin-left: 5px;
}
